body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #e8ded2;
}

form {
  text-align: center;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  font-family: "Josefin Sans", sans-serif;
  color: #056676;
  border-radius: 6px;
  width: 50%;
  height: fit-content;
}

.city {
  font-size: 24px;
}

.city-field {
  color: #424874;
  background-color: #f4eeff;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 300px;
}

.button-check-weather {
  color: #424874;
  background-color: #3da0c7;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 50px;
}

.button-check-weather:hover {
  background-color: #a6c9dc;
}

.currently {
  border: 1px solid #424874;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgb(214, 233, 240, 0.5);
}

.current-icon {
  display: block;
  margin: 0 auto;
}

.next-days {
  border: 1px solid #424874;
  border-radius: 6px;
  padding: 5px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgb(214, 233, 240, 0.5);
}

.card {
  background-color: #a6c9dc;
  font-size: 8px;
  width: 60px;
  border: none;
  display: block;
}

.card:hover {
  background-color: #3da0c7;
}

.card-img-top {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.card-title {
  text-align: left;
  font-size: 14px;
  width: 100px;
}

.card-body {
  width: 100px;
  display: block;
  margin: 0 auto;
}
