body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #e8ded2;
}

form {
  text-align: center;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  font-family: "Josefin Sans", sans-serif;
  color: #056676;
  border-radius: 0px;
  width: 70%;
  height: fit-content;
  border: none;
}

.defCity {
  font-size: 46px;
  font-weight: 400px;
  padding-left: 20px;
}

.defTemp {
  font-size: 42px;
}

.city-field {
  color: #424874;
  background-color: #f4eeff;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 300px;
}

.button-check-weather {
  color: #424874;
  background-color: #3da0c7;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 10px;
  width: 50px;
}

.button-check-weather:hover {
  background-color: #a6c9dc;
}

.currently {
  border: 1px solid #424874;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgb(214, 233, 240, 0.5);
}

.current-icon {
  display: block;
  margin: 0 auto;
}

.temperature {
  line-height: 1;
}

.units {
  vertical-align: top;
}

.forecast {
  text-align: center;
}

.forecast-day {
  opacity: 0.6;
}
.forecast-temperature-min {
  opacity: 0.6;
}
